<div class="row m-3">
  <h1 class="col-10">Restaurants</h1>
  <%= link_to "New", new_restaurant_path, class: "btn btn-info col-2 mt-2" %>
</div>
    <%@restaurants.each do |restaurant| %>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
          <%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
          <p class= "card-subtitle"> <em> Food speciality:</em> <%= restaurant.category %></p>
        </div>
      </div>
    <% end %>